.gpt3__features-container__feature{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
}
.gpt3__features-container__feature__title{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;

}

.gpt3__features-container__feature__title h1{
          font-family: var(--font-family);
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
          /* identical to box height, or 312% */
          letter-spacing: -0.04em;

          color: #FFFFFF;
}

.gpt3__features-container__feature__title div{
    width: 38px;
    height: 3px;
    margin-bottom: 0.25rem;
    background: var(--gradient-bar);    
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.gpt3__features-container__feature-text{
    flex: 2;
    display: flex;
    max-width: 390px;
    margin-top: 1rem;
}

.gpt3__features-container__feature-text p{
    width: 334px;
height: 92px;
left: 192px;
top: 1584px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #81AFDD;
}

@media screen and (max-width: 550px) {
    .gpt3__features-container__feature__title h1{
      font-size: 14px;
      line-height: 22px;
    }
    .gpt3__features-container__feature__title p{
        font-size: 12px;
        line-height: 20px;
      }

      .gpt3__features-container__feature{
        margin: 1rem 0;
      }
    
}